<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add_course</servlet-name>
        <servlet-class>courses.Add_course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_courses</servlet-name>
        <servlet-class>courses.Display_courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Timetable</servlet-name>
        <servlet-class>Timetable.Timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>courses_servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendanceServlet</servlet-name>
        <servlet-class>Attendance.attendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Complaint_add</servlet-name>
        <servlet-class>Complaints.Complaint_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaintview</servlet-name>
        <servlet-class>Complaints.complaintview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>Placements.view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Placement_add</servlet-name>
        <servlet-class>Placements.Placement_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminstudentview</servlet-name>
        <servlet-class>Placements.adminstudentview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_access_servlet</servlet-name>
        <servlet-class>useraccess.user_access_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_serv</servlet-name>
        <servlet-class>courses.delete_serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enroll</servlet-name>
        <servlet-class>courses.enroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unenroll</servlet-name>
        <servlet-class>courses.unenroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assess</servlet-name>
        <servlet-class>courses.assess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_marks</servlet-name>
        <servlet-class>courses.update_marks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_marks</servlet-name>
        <servlet-class>courses.view_marks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginserv</servlet-name>
        <servlet-class>loginserv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_course</servlet-name>
        <url-pattern>/Add_course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_courses</servlet-name>
        <url-pattern>/Display_courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Timetable</servlet-name>
        <url-pattern>/Timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendanceServlet</servlet-name>
        <url-pattern>/attendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Complaint_add</servlet-name>
        <url-pattern>/Complaint_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaintview</servlet-name>
        <url-pattern>/complaintview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Placement_add</servlet-name>
        <url-pattern>/Placement_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminstudentview</servlet-name>
        <url-pattern>/adminstudentview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_access_servlet</servlet-name>
        <url-pattern>/user_access_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_serv</servlet-name>
        <url-pattern>/delete_serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enroll</servlet-name>
        <url-pattern>/enroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unenroll</servlet-name>
        <url-pattern>/unenroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assess</servlet-name>
        <url-pattern>/assess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_marks</servlet-name>
        <url-pattern>/update_marks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_marks</servlet-name>
        <url-pattern>/view_marks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Placements.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletecompanyserv</servlet-name>
        <servlet-class>Placements.Deletecompanyserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applyserv</servlet-name>
        <servlet-class>Placements.applyserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaint_addserv</servlet-name>
        <servlet-class>Complaints.complaint_addserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaintupdatesev</servlet-name>
        <servlet-class>Complaints.complaintupdatesev</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletecompanyserv</servlet-name>
        <url-pattern>/Deletecompanyserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applyserv</servlet-name>
        <url-pattern>/applyserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaint_addserv</servlet-name>
        <url-pattern>/complaint_addserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaintupdatesev</servlet-name>
        <url-pattern>/complaintupdatesev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginserv</servlet-name>
        <url-pattern>/loginserv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dashboard.html</welcome-file>
    </welcome-file-list>
</web-app>
